html, body, #app{
    height: 100%;
    margin: 0;
}

#app{
    display: flex;
    flex-direction: row;
    align-items: center;  
    justify-content: center;
    flex-wrap: wrap; /* quebrar a linha*/
    align-content: center; /* alinhando elementos no centro quando quebra linha*/

}

.box{
    width: 60px;
    height: 60px;
    background: #f00;
    margin: 5px;
    /* flex: 1 0; esticar quando crescer, não espremer quando diminuir*/
}
.red{
    order: 1;
}

.green{
    background: #0F0;
    order: 2;
}

.blue{
    background: #00F;
    order: 0;
}